{% extends "base.html" %}
{% load static %}
{% block title %}
    | Produksi
{% endblock title %}
{% block breadcrumb_title %}
    Produksi
{% endblock breadcrumb_title %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="#">Produksi</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Ritase</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'ritase:index' %}">Loader</a>
    </li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3 row row-cols-auto justify-content-md-center">
                        <label for="date-select" class="col col-form-label">Tanggal</label>
                        <div class="col">
                            <input class="form-control"
                                   type="date"
                                   placeholder="Month data.."
                                   onchange="load()"
                                   id="date-select"
                                   name="date"
                                   value="{% now "Y-m-d" %}" />
                        </div>
                        <label for="shift-select" class="col col-form-label">Shift</label>
                        <div class="col-sm-4">
                            <select type="text"
                                    class="form-control"
                                    name="shift"
                                    id="shift-select"
                                    onchange="load()"
                                    required>
                                <option value="1">Shift 1</option>
                                <option value="2">Shift 2</option>
                            </select>
                        </div>
                        <button type="button"
                                class="btn btn-primary me-3"
                                id="btn_load"
                                onclick="load()">
                            <i class="feather mr-2 icon-loader"></i> Refresh
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script type="text/javascript">
        var deleteUrl = "{% url 'ritase:delete_row' %}"
        var csrf_token = "{{ csrf_token }}"
        var addUrl = "{% url 'ritase:addrow' %}"
        var duplicateUrl = '{% url "ritase:duplicate" %}'
        var optionsUrl = "{% url 'ritase:get_options' %}"
    </script>
    <script src="{% static 'js/web-session-management.js' %}"></script>
    <script src="{% static 'js/ritase.js' %}"></script>
    <script type="text/javascript">
        function handleOpt(loaders, materials) {
            options = {
                cellSelector: 'tbody td',
                headers: {
                    "X-CSRFToken": csrf_token
                },
                fields: [{
                    name: 'loader',
                    type: 'datalist',
                    options: [...loaders],
                    className: 'form-control text-uppercase'
                }, {
                    name: 'hauler',
                    type: 'text'
                }, {
                    name: 'code_material',
                    type: 'datalist',
                    options: [...materials],
                    className: 'form-control text-uppercase'
                }, {
                    name: 'a',
                    type: 'numeric'
                }, {
                    name: 'b',
                    type: 'numeric'
                }, {
                    name: 'c',
                    type: 'numeric'
                }, {
                    name: 'd',
                    type: 'numeric'
                }, {
                    name: 'e',
                    type: 'numeric'
                }, {
                    name: 'f',
                    type: 'numeric'
                }, {
                    name: 'g',
                    type: 'numeric'
                }, {
                    name: 'h',
                    type: 'numeric'
                }, {
                    name: 'i',
                    type: 'numeric'
                }, {
                    name: 'j',
                    type: 'numeric'
                }, {
                    name: 'k',
                    type: 'numeric'
                }, {
                    name: 'l',
                    type: 'numeric'
                }, {
                    name: 'm',
                    type: 'numeric'
                }, ],
                url: "{% url 'ritase:update'%}",
                method: 'POST',
                data: {
                    youSendData: true,
                },
            };
        }

        get_options(handleOpt);

        function load() {
            var container = d3.select(".pc-content");

            container.selectAll("#operator-card").remove();
            tables = [];
            editors = [];

            var row = container.append("div").attr("class", "row").attr("id", "operator-card");

            var ritase = row.append("div").attr("class", "col").append("div").attr("class", "card");
            var cardBodyRit = ritase.append("div").attr("class", "card-body")
                .append("div").attr("class", "card-body table-border-style")
                .append("div").attr("class", "table-responsive")
                .append("table").attr("class", "table table-striped-columns").attr("id", "table-ritase-loader");

            var thead = cardBodyRit.append("thead").append("tr");

            getHeadersLoader()

            headers.forEach(header => {
                thead.append("th")
                    .attr("class", "align-middle bg-primary text-white")
                    .text(header);
            });

            var table = $("#table-ritase-loader").DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                stateSave: true,
                pagingType: "full_numbers",
                layout: {
                    topStart: 'pageLength',
                    topEnd: 'search',
                    bottomStart: 'info',
                    bottom1End: function() {
                        let container = d3.select(document.createElement('div'));

                        let button = container.append("button")
                            .attr('class', 'btn btn-sm btn-primary')
                            .attr('type', 'button')
                            .attr('id', 'addRow')
                            .on('click', function() {
                                addRowLoader()
                            })
                            .append("i")
                            .attr("class", "ti ti-plus")
                            .style("color", "#FFFFFF")

                        return container.node();
                    },
                    bottomEnd: 'paging',
                },
                ajax: {
                    url: "{% url 'ritase:cek_ritase_loader' %}",
                    type: "POST",
                    headers: {
                        "X-CSRFToken": csrf_token,
                    },
                    data: function(d) {
                        d.date = $("#date-select").val();
                        d.shift = $("#shift-select").val();
                    },
                },
                columns: column,
                rowId: 'id'
            })
            tables.push(table)

            var editor = new DatatablesInlineEditor(table, options);
            editors.push(editor)
        }
    </script>
{% endblock script %}
