{% extends "base.html" %}
{% load static %}
{% block title %}
    | HM A2B
{% endblock title %}
{% block breadcrumb_title %}
    HM A2B
{% endblock breadcrumb_title %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="#">Produksi</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">HM A2B</a>
    </li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3 row row-cols-auto justify-content-md-center">
                        <label for="date-select" class="col col-form-label">Tanggal</label>
                        <div class="col">
                            <input class="form-control"
                                   type="date"
                                   placeholder="Month data.."
                                   onchange="load()"
                                   id="date-select"
                                   name="date"
                                   value="{% now "Y-m-d" %}" />
                        </div>
                        <label for="shift-select" class="col col-form-label">Shift</label>
                        <div class="col-sm-4">
                            <select type="text"
                                    class="form-control"
                                    name="shift"
                                    id="shift-select"
                                    onchange="load()"
                                    required>
                                <option value="1">Shift 1</option>
                                <option value="2">Shift 2</option>
                            </select>
                        </div>
                        <button type="button"
                                class="btn btn-primary me-3"
                                id="btn_load"
                                onclick="load()">
                            <i class="feather mr-2 icon-loader"></i> Refresh
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="hm-card">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-body table-border-style">
                        <div class="table-responsice">
                            <table class="table table-striped-columns table-hover" id="load-table">
                                <thead>
                                    <tr>
                                        <th class="align-middle bg-primary text-white">Equipment</th>
                                        <th class="align-middle bg-primary text-white">NRP</th>
                                        <th class="align-middle bg-primary text-white">Operator</th>
                                        <th class="align-middle bg-primary text-white">HM Start</th>
                                        <th class="align-middle bg-primary text-white">HM End</th>
                                        <th class="align-middle bg-primary text-white">HM</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/web-session-management.js' %}"></script>
    <script type="text/javascript">
        $("#cn-hauler").on("keydown",
            function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    load();
                    $(this).select()
                }
            });

        function load() {
            var table = $("#load-table").DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                stateSave: true,
                pagingType: "full_numbers",
                ajax: {
                    url: "{% url 'hma2b:cek_operator' %}",
                    type: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    data: function(d) {
                        d.date = $("#date-select").val();
                        d.shift = $("#shift-select").val();
                    },
                },
                columns: [{
                    data: "equipment",
                    width: "10%",
                }, {
                    data: "NRP",
                }, {
                    data: "NRP__operator",
                }, {
                    data: "hm_start",
                    width: "6%",
                    render: $.fn.dataTable.render.number('', '.', 2, '')
                }, {
                    data: "hm_end",
                    width: "6%",
                    render: $.fn.dataTable.render.number('', '.', 2, '')
                }, {
                    data: null,
                    width: "6%",
                    render: function(data, type, row) {
                        return (row.hm_end - row.hm_start).toFixed(2)
                    }
                }],
            })
        }
    </script>
{% endblock script %}
