{% extends "base.html" %}
{% load static %}
{% block title %}
    | HM A2B
{% endblock title %}
{% block breadcrumb_title %}
    HM A2B
{% endblock breadcrumb_title %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="#">Produksi</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">HM A2B</a>
    </li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3 row row-cols-auto justify-content-md-center">
                        <label for="date-select" class="col col-form-label">Tanggal</label>
                        <div class="col">
                            <input class="form-control"
                                   type="date"
                                   placeholder="Month data.."
                                   onchange="load()"
                                   id="date-select"
                                   name="date"
                                   value="{% now "Y-m-d" %}" />
                        </div>
                        <label for="shift-select" class="col col-form-label">Shift</label>
                        <div class="col-sm-4">
                            <select type="text"
                                    class="form-control"
                                    name="shift"
                                    id="shift-select"
                                    onchange="load()"
                                    required>
                                <option value="1">Shift 1</option>
                                <option value="2">Shift 2</option>
                            </select>
                        </div>
                        <button type="button"
                                class="btn btn-primary me-3"
                                id="btn_load"
                                onclick="load()">
                            <i class="feather mr-2 icon-loader"></i> Refresh
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
{% endblock content %}
{% block script %}
    <script src="{% static 'js/web-session-management.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            load()
            formCard()
        })

        $("#cn-hauler").on("keydown",
            function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    load();
                    $(this).select()
                }
            });

        var headers = [
            "Equipment",
            "NRP",
            "Operator",
            "Login",
            "Logout",
            "HM Start",
            "HM End",
            "HM",
        ]

        function load() {
            var container = d3.select(".pc-content");

            container.selectAll("#hm-card").remove();

            var row = container.append("div").attr("class", "row").attr("id", "hm-card");

            var ritase = row.append("div").attr("class", "col").append("div").attr("class", "card");
            var cardBodyRit = ritase.append("div").attr("class", "card-body")
                .append("div").attr("class", "card-body table-border-style")
                .append("div").attr("class", "table-responsive")
                .append("table").attr("class", "table table-striped-columns table-hover").attr("id", "load-table");

            var thead = cardBodyRit.append("thead").append("tr");

            headers.forEach(header => {
                thead.append("th")
                    .attr("class", "align-middle bg-primary text-white")
                    .text(header);
            });
            var table = $("#load-table").DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                stateSave: true,
                pagingType: "full_numbers",
                ajax: {
                    url: "{% url 'hma2b:cek_operator' %}",
                    type: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    data: function(d) {
                        d.date = $("#date-select").val();
                        d.shift = $("#shift-select").val();
                    },
                },
                columns: [{
                    data: "equipment",
                    width: "10%",
                }, {
                    data: "NRP",
                }, {
                    data: "NRP__operator",
                }, {
                    data: "login_time",
                    render: $.fn.DataTable.render.datetime("D-MM-YYYY HH:mm")
                }, {
                    data: "logout_time",
                    render: $.fn.DataTable.render.datetime("D-MM-YYYY HH:mm")

                }, {
                    data: "hm_start",
                    width: "10%",
                    render: $.fn.dataTable.render.number('', '.', 2, '')
                }, {
                    data: "hm_end",
                    width: "10%",
                    render: $.fn.dataTable.render.number('', '.', 2, '')
                }, {
                    data: null,
                    width: "6%",
                    render: function(data, type, row) {
                        return (row.hm_end - row.hm_start).toFixed(2)
                    }
                }],
                rowId: "id",
                rowCallback: function(row, data) {
                    var hm = data.hm_end - data.hm_start
                    if (hm <= 0 || hm > 15) {
                        $('td:eq(7)', row).addClass("bg-danger text-white");
                    }
                }
            })
            var editor = new DatatablesInlineEditor(table, options);

            editor.on("cell.completeEdit", function() {
                load()
            })

            editor.on("cell.click", function(input) {
                console.log(input)
            })
        }
        var options = {
            cellSelector: 'tbody td',
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            },
            fields: [{
                name: 'equipment',
                type: 'text'
            }, {
                name: 'NRP',
                type: 'number'
            }, {
                name: 'hm_start',
                type: 'numeric'
            }, {
                name: 'hm_end',
                type: 'numeric'
            }],
            url: "{% url 'hma2b:update'%}",
            method: 'POST',
            data: {
                youSendData: true,
            },
        };

        function formCard() {
            var container = d3.select(".pc-content");
            var row = container.append("div").attr("class", "row").attr("id", "form-card");

            var formcard = row.append("div").attr("class", "col-lg-5").append("div").attr("class", "card");
            var cardHeader = formcard.append("div").attr("class", "card-header").append("h5").attr("class", "mb-0").text("Form Input HM Operator (BELUM BISA)");
            var cardBody = formcard.append("div").attr("class", "card-body");

            var form = cardBody.append("form").attr("id", "hm-form")
                .attr("method", "POST")
                .attr("enctype", "multipart/form-data")
                .attr("action", "{% url 'hma2b:add' %}")
            form.append("input").attr("type", "hidden").attr("name", "csrfmiddlewaretoken").attr("value", "{{ csrf_token }}")

            var formGroups = [{
                label: 'Equipment',
                inputType: "text",
                inputValue: null,
            }, {
                label: "NRP",
                inputType: "number",
                inputValue: null,
            }, {
                label: "HM Start",
                inputType: "number",
                inputValue: null,
            }, {
                label: "HM End",
                inputType: "number",
                inputValue: null,
            }];

            formGroups.forEach(group => {
                var formGroup = form.append("div").attr("class", "mb-0 row");
                formGroup.append("label")
                    .attr("for", group.label.replace(/\s+/g, ''))
                    .attr("class", "col-sm-3 col-form-label")
                    .text(group.label);
                const inputDiv = formGroup.append("div").attr("class", "col-sm");
                var input = inputDiv.append("input")
                    .attr("type", group.inputType)
                    .attr("name", group.label)
                    .attr("class", "form-control")
                    .attr("id", group.label.replace(/\s+/g, ''))
                    .attr("value", group.inputValue || "")
                    .attr("readonly", group.readonly ? true : null);

                if (group.inputType == "number") {
                    input.attr("step", "any")
                }
            })
            var cardFooter = form
                .append("div")
                .attr("class", "mb-0 mt-2 row d-flex justify-content-end");
            cardFooter
                .append("button")
                .attr("id", "cancel-button")
                .attr("type", "button")
                .attr("class", "btn btn-secondary me-3")
                .attr("style", "width: auto")
                .text("Cancel")

            cardFooter
                .append("button")
                .attr("id", "save-button")
                .attr("type", "submit")
                .attr("class", "btn btn-primary")
                .attr("style", "width: auto")
                .text("Add Data")
        }
    </script>
{% endblock script %}
