{% extends "base.html" %}
{% load static %}
{% block title %}
    | HM A2B
{% endblock title %}
{% block breadcrumb_title %}
    HM A2B
{% endblock breadcrumb_title %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="#">Produksi</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">HM A2B</a>
    </li>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3 row row-cols-auto justify-content-md-center">
                        <label for="date-select" class="col col-form-label">Tanggal</label>
                        <div class="col">
                            <input class="form-control"
                                   type="date"
                                   placeholder="Month data.."
                                   onchange="load()"
                                   id="date-select"
                                   name="date"
                                   value="{% now "Y-m-d" %}" />
                        </div>
                        <label for="shift-select" class="col col-form-label">Shift</label>
                        <div class="col-sm-4">
                            <select type="text"
                                    class="form-control"
                                    name="shift"
                                    id="shift-select"
                                    onchange="load()"
                                    required>
                                <option value="1">Shift 1</option>
                                <option value="2">Shift 2</option>
                            </select>
                        </div>
                        <button type="button"
                                class="btn btn-primary me-3"
                                id="btn_load"
                                onclick="load()">
                            <i class="feather mr-2 icon-loader"></i> Refresh
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/web-session-management.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            load()
        })

        $("#cn-hauler").on("keydown",
            function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    load();
                    $(this).select()
                }
            });

        var headers = [
            "Equipment",
            "NRP",
            "Operator",
            "HM Start",
            "HM End",
            "HM",
        ]

        function load() {
            var container = d3.select(".pc-content");

            container.selectAll("#hm-card").remove();

            var row = container.append("div").attr("class", "row").attr("id", "hm-card");

            var ritase = row.append("div").attr("class", "col").append("div").attr("class", "card");
            var cardBodyRit = ritase.append("div").attr("class", "card-body")
                .append("div").attr("class", "card-body table-border-style")
                .append("div").attr("class", "table-responsive")
                .append("table").attr("class", "table table-striped-columns").attr("id", "load-table");

            var thead = cardBodyRit.append("thead").append("tr");

            headers.forEach(header => {
                thead.append("th")
                    .attr("class", "align-middle bg-primary text-white")
                    .text(header);
            });
            var table = $("#load-table").DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                stateSave: true,
                pagingType: "full_numbers",
                ajax: {
                    url: "{% url 'hma2b:cek_operator' %}",
                    type: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    data: function(d) {
                        d.date = $("#date-select").val();
                        d.shift = $("#shift-select").val();
                    },
                },
                columns: [{
                    data: "equipment",
                    width: "10%",
                }, {
                    data: "NRP",
                }, {
                    data: "NRP__operator",
                }, {
                    data: "hm_start",
                    width: "10%",
                    render: $.fn.dataTable.render.number('', '.', 2, '')
                }, {
                    data: "hm_end",
                    width: "10%",
                    render: $.fn.dataTable.render.number('', '.', 2, '')
                }, {
                    data: null,
                    width: "6%",
                    render: function(data, type, row) {
                        return (row.hm_end - row.hm_start).toFixed(2)
                    }
                }],
                rowId: "id",
                layout: {
                    topStart: 'pageLength',
                    topEnd: 'search',
                    bottomStart: "paging",
                    bottomEnd: function() {
                        let container = d3.select(document.createElement('div'));

                        let button = container.append("button")
                            .attr('class', 'btn btn-sm btn-primary')
                            .attr('type', 'button')
                            .attr('id', 'addRow')
                            .on('click', function() {
                                addRow()
                            })
                            .append("i")
                            .attr("class", "ti ti-plus")
                            .style("color", "#FFFFFF")

                        return container.node();
                    }
                },
            })
            var editor = new DatatablesInlineEditor(table, options);
        }
        var options = {
            cellSelector: 'tbody td',
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            },
            fields: [{
                name: 'equipment',
                type: 'text'
            }, {
                name: 'NRP',
                type: 'number'
            }, {
                name: 'hm_start',
                type: 'numeric'
            }, {
                name: 'hm_end',
                type: 'numeric'
            }],
            url: "{% url 'hma2b:update'%}",
            method: 'POST',
            data: {
                youSendData: true,
            },
        };



        function addRow() {
            $.ajax({
                url: "{% url 'hma2b:addRow' %}",
                type: "POST",
                headers: {
                    "X-CSRFToken": csrf_token,
                },
                data: {
                    date: $("#date-select").val(),
                    shift: $("#shift-select").val(),
                    hauler: $("#cn-hauler").val(),
                    id: button.getAttribute("data-id"),
                },
                complete: function() {
                    loadTable();
                },
            });
        }
    </script>
{% endblock script %}
