{% load static %}
    <footer class="pc-footer">
      <div class="footer-wrapper container-fluid">
        <div class="row">
        <div class="col my-1">
          <p class="m-0"
          >Flow &#9829; crafted by Team <a href="#" target="_blank">Procon ADMO</a></p
          >
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a href="../index.html">Home</a></li>
          </ul>
        </div>
        </div>
      </div>
    </footer> 

    <!-- Required Js -->
    <script src="{% static 'js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'js/plugins/simplebar.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fonts/custom-font.js' %}"></script>
    <script src="{% static 'js/pcoded.js' %}"></script>
    <script src="{% static 'js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'js/plugins/feather.min.js' %}"></script>