{% extends "base.html" %}
{% load static %}
{% block title %}
    | Loader Shiftly
{% endblock title %}
{% block breadcrumb_title %}
    Loader Shiftly
{% endblock breadcrumb_title %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="#">Standby Loader Shiftly</a>
    </li>
{% endblock breadcrumb %}
{% block content %}
    {% include "partials/shiftly.html" %}
{% endblock content %}
{% block script %}
    <script src="{% static 'js/web-session-management.js' %}"></script>
    <script src="{% static 'js/modal-form-handler.js' %}"></script>
    <script src="{% static 'js/standby.js' %}"></script>
    <script type="text/javascript">
        let colorScale = getColorData()
        setTimeFrameShiftly()

        var undobtn = d3.select("#btn-container").append("button").attr("id", "undoBtn").attr("class", "ms-0 btn btn-warning").text("undo")

        var table = $("#load-table").DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ordering: false,
            pagingType: "full_numbers",
            select: true,
            ajax: {
                url: "{% url 'stb_loader_shiftly:report' %}",
                type: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                data: function(d) {
                    d.date = $("#date-select").val();
                    d.shift = $("#shift-select").val();
                },
                complete: function(d) {
                    checkTimeLineUnit();
                },
            },
            columns: [{
                data: "unit",
                orderable: false,
                searchable: false,
                width: "7%"
            }, {
                data: "action",
                orderable: false,
                searchable: false
            }, {
                data: "hm",
                orderable: false,
                searchable: false,
                width: "3%",
                render: $.fn.dataTable.render.number('', '.', 2, '')

            }],
            language: {
                emptyTable: '<b>Data belum di ambil dari server Jigsaw.</b> Pastikan data hourly sudah tersedia'
            },
            rowGroup: {
                dataSrc: "cluster"
            },
            rowCallback: function(row, data) {
                if (data.hm <= 0 || data.hm > 15) {
                    $('td:eq(2)', row).addClass("bg-danger text-white");
                }
            }
        });

        function load() {
            table.draw();
            setTimeFrameShiftly()
        }

        function checkTimeLineUnit() {
            $(".d3-timeline").each(function() {
                var id = $(this).data("id");
                showDetail(id);
            });
        }

        function showDetail(id) {
            $.ajax({
                url: "{% url 'stb_loader_shiftly:timeline' %}",
                type: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                data: {
                    date: $("#date-select").val(),
                    shift: $("#shift-select").val(),
                    unit_id: id,
                    hanging: $("#hanging")[0].checked,
                },
                success: function(data) {
                    generateToSVG(id, data);
                },
            });
        }

        function generateToSVG(id_element, data) {
            let standbyData = [];
            let ritasiData = [];
            for (let i = 0; i < data["state"].length; i++) {
                const element = data["state"][i];
                element.timeStart = toTimestamp(element.timeStart);
                element.timeEnd = toTimestamp(element.timeEnd);
                standbyData.push({
                    label: element.label,
                    starting_time: element.timeStart,
                    ending_time: element.timeEnd,
                    unit: element.unit,
                    database_id: element.database_id,
                });
            };
            for (let i = 0; i < data["ritase"].length; i++) {
                const element = data["ritase"][i];
                element.time_full = toTimestamp(element.time_full);
                element.time_empty = toTimestamp(element.time_empty);
                ritasiData.push({
                    display: "circle",
                    starting_time: element.time_full,
                    hauler: element.hauler,
                    database_id: element.database_id,
                    label: element.type,
                    loc: element.loc,
                    time_empty: element.time_empty,
                });
            };
            var dataJigsaw = [{
                label: "STB",
                times: standbyData,
            }, {
                label: "rit",
                times: ritasiData,
            }, ];

            var chart = d3
                .timeline()
                //.showLabels()
                .showTimeAxisTick()
                .tickFormat({
                    format: d3.time.format("%-H:%M"),
                    tickTime: d3.time.hour,
                    tickInterval: 1,
                    tickSize: 1,
                })
                .margin({
                    left: 20,
                    right: 20,
                    top: 0,
                    bottom: 0
                })
                .itemHeight(40)
                .colors(colorScale)
                .colorProperty("label")
                .click(function(d, i, datum) {
                    if (datum.label == 'STB') {
                        $('#updateModal').on('show.bs.modal', function(event) {
                            var modal = $(this);
                            populateUpdateForm(modal, d)
                        });
                        $('#updateModal').modal('show');
                    }
                })
                .mouseover(function(d, i, datum) {
                    Tooltip
                        .style("opacity", 1);
                    var x = d3.select(d3.event.currentTarget)
                    x.style('stroke', 'black')
                })
                .hover(function(d, i, datum) {
                    if (datum.label == 'STB') {
                        mouse = d3.mouse(d3.event.currentTarget);
                        _data_time = toDateString(xScale.invert(mouse[0]).getTime())

                        Tooltip
                            .html(d.label + "<br> <b>" + ((d.ending_time - d.starting_time) / 60000).toFixed(2) + " menit </b><br>" + _data_time.slice(-8));

                        data_databese_id = d.database_id
                        data_stb = d.label
                        data_unit = d.unit
                    } else {
                        if (d.label == null) {
                            x = "belum dumping"
                        } else {
                            x = d.label
                        }
                        Tooltip
                            .html(d.hauler + "<br><b>" + x + "</b>: " + d.loc)
                    }
                })
                .mouseout(function(d, i, datum) {
                    Tooltip
                        .style("opacity", 0);
                    var x = d3.select(d3.event.currentTarget)
                    x.style('stroke', 'none')
                })
                .beginning(ts)
                .ending(te);

            var container = d3.select("#data-" + id_element);
            container.select("svg").remove();
            var width = $('thead tr th:nth-child(2)').width()
            var svg = container
                .append("svg")
                .attr("width", width)
                .datum(dataJigsaw)
                .call(chart);
        }

        $("#undoBtn").on('click', function() {
            $.ajax({
                type: 'POST',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                url: "{% url 'stb_loader:undo' %}",
                success: function(response, data, xhr) {
                    if (xhr.status === 200) {
                        showDetail(response.unit);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Form submission failed:', error);
                }
            })
        })
        $('#updateModal').on('shown.bs.modal', function(event) {
            focusAndSelectInput()
        })

        $('#updateForm').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            handleUpdateFormSubmission("{% url 'stb_loader:update'%}", data_unit, formData)
        })
        $('#addModal').on('show.bs.modal', function(event) {
            var modal = $(this);
            populateAddForm(modal);
        });
        $('#addModal').on('shown.bs.modal', function(event) {
            focusAndSelectInput()
        })

        $('#addForm').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            handleAddFormSubmission("{% url 'stb_loader:add'%}", data_unit, formData)
        });

        $('#addBatchModal').on('show.bs.modal', function(event) {
            var modal = $(this);
            populateAddBatchForm(modal);
        });

        $('#addBatchModal').on('shown.bs.modal', function(event) {
            focusAndSelectInput()
        })

        $('#addBatchForm').on('submit', function(event) {
            event.preventDefault();
            var units = table.rows({
                selected: true
            }).data().pluck('unit').toArray()
            var formData = new FormData(this);
            formData.append('units', JSON.stringify(units));

            handleAddBatchFormSubmission("{% url 'stb_loader:addbatch'%}", units, formData)
        });

        function split() {
            handleSplitSubmission("{% url 'stb_loader:split'%}", data_unit, data_databese_id, data_time, "{{ csrf_token }}")
        }

        $('#confirmModal').on('show.bs.modal', function(event) {
            var modal = $(this);
            populateDeleteForm(modal)
        });

        $('#deleteForm').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            handleDeleteSubmission("{% url 'stb_loader:delete'%}", data_unit, formData)
        });
    </script>
{% endblock script %}
{% block modals %}
    {% include "partials/modal.html" %}
{% endblock modals %}
