{% extends "base.html" %}
{% load static %}
{% block title %}
    | Loader Hourly
{% endblock title %}
{% block breadcrumb_title %}
    Loader Hourly
{% endblock breadcrumb_title %}
{% block breadcrumb %}
 
    <li class="breadcrumb-item">
        <a href="#">Standby Loader Hourly</a>
    </li>
{% endblock breadcrumb %}
{% block content %}
    {% include "partials/hourly.html" %}
{% endblock content %}
{% block script %}
    <script src="{% static 'js/web-session-management.js' %}"></script>
    <script src="{% static 'js/modal-form-handler.js' %}"></script>
    <script src="{% static 'js/standby.js' %}"></script>
    <script type="text/javascript">
        let colorScale = getColorData()

        var undobtn = d3.select("#btn-container").append("button").attr("id", "undoBtn").attr("class", "ms-0 btn btn-warning").text("undo")

        var table = $("#load-table").DataTable({
            processing: true,
            serverSide: true,
            stateSave: true,
            ordering: false,
            select: true,
            pagingType: "full_numbers",
            ajax: {
                url: "{% url 'stb_loader:report' %}",
                type: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                data: function(d) {
                    d.date = $("#date-select").val();
                    d.hour = $("#hour-select").val();
                },
                complete: function(d) {
                    checkTimeLineUnit();
                },
            },
            columns: [{
                className: 'dt-control',
                orderable: false,
                data: null,
                defaultContent: '',
                width: "2%"
            }, {
                data: "unit",
                orderable: false,
                searchable: false,
                width: "7%"
            }, {
                data: "action",
                orderable: false,
                searchable: false
            }, {
                data: "produksi",
                orderable: false,
                searchable: false,
                width: "5%"
            }, ],
            rowGroup: {
                dataSrc: "cluster"
            },
            language: {
                emptyTable: '<b>Data belum di ambil dari server Jigsaw.</b> Tekan tombol disamping untuk memuat data <button class="btn btn-warning event-btnx m-2" onclick="load_data()"><b>Load</b></button>'
            }
        });

        table.on('user-select', function(e, dt, type, cell, originalEvent) {
            if ($(originalEvent.target).index() === 2 || $(originalEvent.target).index() === 0) {
                e.preventDefault();
            }
        });

        function load_data() {
            $(".event-btnx").prop("disabled", true);
            alert("Data sedang diolah dan membutuhkan waktu sekitar 3 menit. Mohon untuk menunggu")
            $.ajax({
                url: "{% url 'stb_loader:load_data' %}",
                type: 'POST',
                data: {
                    date: $("#date-select").val(),
                    hour: $("#hour-select").val(),
                },
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
            })
        };

        function load() {
            table.draw();
        }

        function checkTimeLineUnit() {
            $(".d3-timeline").each(function() {
                var id = $(this).data("id");
                showDetail(id);
            });
        }

        function showDetail(id) {
            $.ajax({
                url: "{% url 'stb_loader:timeline' %}",
                type: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                data: {
                    date: $("#date-select").val(),
                    hour: $("#hour-select").val(),
                    unit_id: id,
                    hanging: $("#hanging")[0].checked,
                },
                success: function(data) {
                    generateToSVG(id, data);
                },
            });
        }

        function generateToSVG(id_element, data, x = null) {
            let standbyData = [];
            let ritasiData = [];
            for (let i = 0; i < data["state"].length; i++) {
                const element = data["state"][i];
                element.timeStart = toTimestamp(element.timeStart);
                element.timeEnd = toTimestamp(element.timeEnd);
                standbyData.push({
                    label: element.label,
                    starting_time: element.timeStart,
                    ending_time: element.timeEnd,
                    unit: element.unit,
                    database_id: element.database_id,
                });
            };
            for (let i = 0; i < data["ritase"].length; i++) {
                const element = data["ritase"][i];
                element.time_full = toTimestamp(element.time_full);
                element.time_empty = toTimestamp(element.time_empty);
                ritasiData.push({
                    display: "circle",
                    starting_time: element.time_full,
                    hauler: element.hauler,
                    database_id: element.database_id,
                    label: element.type,
                    loc: element.loc,
                    time_empty: element.time_empty,
                });
            };
            var dataJigsaw = [{
                label: "STB",
                times: standbyData,
            }, {
                label: "rit",
                times: ritasiData,
            }, ];

            var chart = d3
                .timeline()
                //.showLabels()
                .showTimeAxisTick()
                .tickFormat({
                    format: d3.time.format("%-H:%M"),
                    tickTime: d3.time.minutes,
                    tickInterval: 5,
                    tickSize: 1,
                })
                .margin({
                    left: 20,
                    right: 20,
                    top: 0,
                    bottom: 0
                })
                .itemHeight(40)
                .colors(colorScale)
                .colorProperty("label")
                .click(function(d, i, datum) {
                    if (datum.label == 'STB') {
                        $('#updateModal').on('show.bs.modal', function(event) {
                            var modal = $(this);
                            populateUpdateForm(modal, d)
                        });
                        $('#updateModal').modal('show');
                    }
                })
                .mouseover(function(d, i, datum) {
                    Tooltip
                        .style("opacity", 1);
                    var x = d3.select(d3.event.currentTarget)
                    x.style('stroke', 'black')
                })
                .hover(function(d, i, datum) {
                    if (datum.label == 'STB') {
                        mouse = d3.mouse(d3.event.currentTarget);
                        _data_time = toDateString(xScale.invert(mouse[0]).getTime())

                        Tooltip
                            .html(d.label + "<br> <b>" + ((d.ending_time - d.starting_time) / 60000).toFixed(2) + " menit </b><br>" + _data_time.slice(-8));

                        data_databese_id = d.database_id
                        data_stb = d.label
                        data_unit = d.unit
                    } else {
                        if (d.label == null) {
                            x = "belum dumping"
                        } else {
                            x = d.label
                        }
                        Tooltip
                            .html(d.hauler + "<br><b>" + x + "</b>: " + d.loc)
                    }
                })
                .mouseout(function(d, i, datum) {
                    Tooltip
                        .style("opacity", 0);
                    var x = d3.select(d3.event.currentTarget)
                    x.style('stroke', 'none')
                });
            var container = d3.select("#data-" + id_element);
            container.select("svg").remove();
            var width = $('thead tr th:nth-child(3)').width()
            var svg = container
                .append("svg")
                .attr("width", width)
                .datum(dataJigsaw)
                .call(chart);
        }


        $("#undoBtn").on('click', function() {
            $.ajax({
                type: 'POST',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                url: "{% url 'stb_loader:undo' %}",
                success: function(response, data, xhr) {
                    if (xhr.status === 200) {
                        response.units.forEach(unit => showDetail(unit))
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Form submission failed:', error);
                }
            })
        })
        $('#updateModal').on('shown.bs.modal', function(event) {
            focusAndSelectInput()
        })
        $('#updateForm').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            handleUpdateFormSubmission("{% url 'stb_loader:update'%}", data_unit, formData)
        })
        $('#addModal').on('show.bs.modal', function(event) {
            var modal = $(this);
            populateAddForm(modal);
        });

        $('#addBatchModal').on('show.bs.modal', function(event) {
            var modal = $(this);
            populateAddBatchForm(modal);
        });

        $('#addModal').on('shown.bs.modal', function(event) {
            focusAndSelectInput()
        })

        $('#addBatchModal').on('shown.bs.modal', function(event) {
            focusAndSelectInput()
        })

        $('#addForm').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            handleAddFormSubmission("{% url 'stb_loader:add'%}", data_unit, formData)
        });

        $('#addBatchForm').on('submit', function(event) {
            event.preventDefault();
            var units = table.rows({
                selected: true
            }).data().pluck('unit').toArray()
            var formData = new FormData(this);
            formData.append('units', JSON.stringify(units));

            handleAddBatchFormSubmission("{% url 'stb_loader:addbatch'%}", units, formData)
        });

        function split() {
            handleSplitSubmission("{% url 'stb_loader:split'%}", data_unit, data_databese_id, data_time, "{{ csrf_token }}")
        }

        $('#confirmModal').on('show.bs.modal', function(event) {
            var modal = $(this);
            populateDeleteForm(modal)
        });

        $('#deleteForm').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            handleDeleteSubmission("{% url 'stb_loader:delete'%}", data_unit, formData)
        });

        function checkTimeLineUnitChild() {
            $(".d3-timeline-child").each(function() {
                var id = $(this).data("id");
                showDetailChild(id);
            });
        }

        function format(data) {
            return data.map(d =>
                `<div class="row">
                <div class="col col-auto align-items-center" style="width: 9%;">
                <p>${d.hauler}</p></div>
                <div id="data-${d.hauler}" data-id="${d.hauler}" class="col d3-timeline-child"></div>
                </div>`
            ).join('\n');
        }

        function showDetailChild(id) {
            $.ajax({
                url: "{% url 'stb_hauler:timeline' %}",
                type: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                data: {
                    date: $("#date-select").val(),
                    hour: $("#hour-select").val(),
                    unit_id: id,
                    hanging: $("#hanging")[0].checked,
                },
                success: function(data) {
                    generateToSVG(id, data);
                },
            });
        }

        // Add event listener for opening and closing details
        $('#load-table tbody').on('click', 'td.dt-control', function() {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
            } else {
                // Open this row
                $.ajax({
                    url: "{% url 'stb_loader:load_child' %}",
                    type: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    data: {
                        unit: row.data().unit,
                        date: $("#date-select").val(),
                        hour: $("#hour-select").val(),
                    },
                    complete: function(response) {
                        var node = format(response.responseJSON.data)
                        row.child(node).show();
                        checkTimeLineUnitChild()
                    }
                })
            }
        });
    </script>
{% endblock script %}
{% block modals %}
    {% include "partials/modal.html" %}
{% endblock modals %}
