<div class="modal fade"
     id="updateModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="updateModalLabel"
     aria-hidden="true">
  <form method="POST"
        enctype="multipart/form-data"
        action="{% url 'stb_loader:update' %}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Data - unit</h5>
          <button type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="database_id" id="database_id-label" value="">
          <div class="form-group">
            <label for="stb-label" class="col-form-label">Standby Code</label>
            <input type="text"
                   class="form-control"
                   name="stb"
                   id="stb-label"
                   value=""
                   list="stb"
                   required>
            <datalist id="stb">
              {% for i in stb %}<option value="{{ i }}"></option>{% endfor %}
            </datalist>
          </div>
          <div class="form-group">
            <label for="timestart-label" class="col-form-label">Time Start (hh:mm:ss)</label>
            <input type="text"
                   class="form-control"
                   name="timestart"
                   id="timestart-label"
                   value=""
                   required>
          </div>
          <div class="form-group">
            <label for="timeend-label" class="col-form-label">Time End (hh:mm:ss)</label>
            <input type="text"
                   class="form-control"
                   name="timeend"
                   id="timeend-label"
                   value=""
                   disabled>
          </div>
          <div class="form-group">
            <label for="duration-label" class="col-form-label">Duration (menit)</label>
            <input type="number"
                   class="form-control"
                   name="duration"
                   id="duration-label"
                   value=""
                   disabled>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#confirmModal">Delete</button>
          <button type="submit" class="btn btn-primary" value="update" name="update">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal fade"
     id="addModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="addModalLabel"
     aria-hidden="true">
  <form method="POST"
        enctype="multipart/form-data"
        action="{% url 'stb_loader:add' %}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Data - unit</h5>
          <button type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="database_id" id="database_id-label" value="">
          <div class="form-group">
            <label for="stb-label" class="col-form-label">Standby Code</label>
            <input type="text"
                   class="form-control"
                   name="stb"
                   id="stb-label"
                   value=""
                   list="stb"
                   required>
            <datalist id="stb">
              {% for i in stb %}<option value="{{ i }}"></option>{% endfor %}
            </datalist>
          </div>
          <div class="form-group">
            <label for="timestart-label" class="col-form-label">Time Start (hh:mm:ss)</label>
            <input type="text"
                   class="form-control"
                   name="timestart"
                   id="timestart-label"
                   value=""
                   required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="add" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal fade"
     id="ritaseModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="ritaseModalLabel"
     aria-hidden="true">
  <form method="POST"
        enctype="multipart/form-data"
        action="{% url 'stb_loader:update' %}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Data Ritase - unit</h5>
          <button type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="unit" id="unit-label" value="">
          <input type="hidden" name="date" id="date-label" value="">
          <input type="hidden" name="hour" id="hour-label" value="">
          <input type="hidden" name="database_id" id="database_id-label" value="">
          <div class="form-group">
            <label for="ritase-label" class="col-form-label">Tipe</label>
            <input type="text"
                   class="form-control"
                   name="tipe"
                   id="tipe-label"
                   value=""
                   list="type"
                   required>
            <datalist id="type">
              {% for i in ritase %}<option value="{{ i }}"></option>{% endfor %}
            </datalist>
          </div>
          <div class="form-group">
            <label for="timestart-label" class="col-form-label">Time Loading (hh:mm:ss)</label>
            <input type="time"
                   class="form-control"
                   name="timestart"
                   id="timestart-label"
                   value=""
                   required>
          </div>
          <div class="form-group">
            <label for="timeend-label" class="col-form-label">Time Dumping (hh:mm:ss)</label>
            <input type="time"
                   class="form-control"
                   name="timeend"
                   id="timeend-label"
                   value=""
                   disabled>
          </div>
          <div class="form-group">
            <label for="location-label" class="col-form-label">Dumping Location</label>
            <input type="text"
                   class="form-control"
                   name="location"
                   id="location-label"
                   value=""
                   disabled>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger" value='delete' name="delete">Delete</button>
          <button type="submit" class="btn btn-primary" value='update' name="update">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal fade"
     id="exportModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exportModalLabel"
     aria-hidden="true">
  <form method="POST"
        enctype="multipart/form-data"
        action="{% url 'stb_loader:export_excel' %}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export Data</h5>
          <button type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" id="exportDate" name="date" value="">
          <input type="hidden" id="exportShift" name="shift" value="1">
          <div class="form-group">
            <label>Date</label>
            <input class="form-control"
                   type="date"
                   placeholder="Month data.."
                   id="date-select"
                   name="date"
                   value="{% now "Y-m-d" %}" />
          </div>
          <div class="form-group">
            <label for="shift-label" class="col-form-label">Shift</label>
            <br />
            <select class="form-control" name="shift" id="shift-select">
              <option value="1">Shift 1</option>
              <option value="2">Shift 2</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" value='export' name="export">
            <span class="btn-text"><i class="feather mr-2 icon-download"></i>Download</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal fade"
     id="confirmModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="confirmModalLabel"
     aria-hidden="true">
  <form method="POST"
        enctype="multipart/form-data"
        action="{% url 'stb_loader:delete' %}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Hapus Data</h5>
          <button type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden"
                 name="database_id_delete"
                 id="database_id_delete-label"
                 value="">
          <p class='p-item'>Anda yakin ingin menghapus data ini?</p>
          <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
            <button type="button"
                    class="btn btn-lg btn-secondary"
                    data-bs-dismiss="modal">Close</button>
            <button type="submit"
                    class="btn btn-lg btn-danger"
                    value="delete"
                    name="delete">Delete</button>
          </div>
        </div>
      </div>
    </form>
  </div>
